<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/contato.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/hero.css">
</head>
<body>
  <%- include('partial/navbar') %>
    <section class="footer">
  <h1 class="texto">Henry Tito</h1>

  <div class="divicons">
    <ul>
      <li>
        <a href="mailto:hvst115@gmail.com?subject=Olá, vi seu portfólio!&body=Escreva sua mensagem!">
          <img src="/css/images/gmail.png" alt="icone gmail" class="social-icon" />
        </a>
      </li>
      <li>
        <a href="https://wa.me/5512991358590?text=Olá,%20gostaria%20de%20falar%20com%20você!" target="_blank">
          <img src="/css/images/zapzap.png" alt="Fale comigo no WhatsApp" class="social-icon" />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/htito.og/" target="_blank">
          <img src="/css/images/icons8.png" alt="instagram icone" class="social-icon" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/henry-tito-989b4b354/" target="_blank">
          <img src="/css/images/linked.png" alt="linkedin icone" class="social-icon" />
        </a>
      </li>
    </ul>
  </div>

  <h1 class="texto">Todos direitos reservados.</h1>
</section>
</body>
</html>