<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/hero.css">
</head>
<body>
     
    
    <%- include('partial/navbar') %>
    <div class="envelope">
    <section class="hero-section">
      <div class="text">
        <h2>Olá, sou <span class="forte">Henry Tito</span></h2>
        <p>Sou um programador especializado em soluções práticas e eficientes.
            Estou pronto para colaborar e transformar ideias em código. Vamos
            começar a trabalhar?</p>

        <div class="links">
          <a href="https://www.linkedin.com/in/henry-tito-989b4b354/" target="_blank">
            <i class="fa-solid fa-code"></i>
            <span class="text">LinkedIn</span>
          </a>
          
         
          
          <a href="mailto:hvst115@gmail.com?subject=Olá, vi seu portfólio!&body=Escreva sua mensagem!">
            <i class="fa-solid fa-envelope"></i>
            <span class="text">Contate-me</span>
          </a>
        </div>
      </div>

     
    </section>
    </div>
</body>
</html>