<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/hero.css">
</head>
<body>
  <%- include('partial/navbar') %>
    <section id="skills" class="skills-section">
      <h2 class="texto2">Habilidades</h2>
      <div class="text">
        Confira minhas Hard skills!
      </div>

      <div class="cells">
        <div class="cell">
          <img src="/css/images/html.png" alt="html logo">
          <span>HTML</span>
        </div>
        
        <div class="cell">
          <img src="/css/images/css.png" alt="css logo">
          <span>CSS</span>
        </div>
        
        <div class="cell">
          <img src="/css/images/javascript.png" alt="javascript logo">
          <span>JavaScript</span>
        </div>
        
        <div class="cell">
          <img src="/css/images/node.png" alt="node logo">
          <span>Node.js</span>
        </div>

        <div class="cell">
          <img src="/css/images/docker.png" alt="Docker logo">
          <span>Docker</span>
        </div>

        <div class="cell">
          <img src="/css/images/aws.png" alt="AWS logo">
          <span>AWS</span>
        </div>

        <div class="cell">
          <img src="/css/images/csharp.png" alt="C# logo">
          <span>C#</span>
        </div>

        <div class="cell">
          <img src="/css/images/java.png" alt="Java logo">
          <span>Java</span>
        </div>


        <div class="cell">
          <img src="/css/images/gcloud.png" alt="Google cloud logo">
          <span>Google cloud</span>
        </div>

        <div class="cell">
          <img src="/css/images/mysql.png" alt="MY sql logo">
          <span>MY SQL</span>
        </div>

        <div class="cell">
          <img src="/css/images/mongodb.png" alt="mongo db logo">
          <span>Mongo DB</span>
        </div>


        
        <div class="cell">
          <img src="/css/images/react.png" alt="react logo">
          <span>React.js</span>
        </div>

         <div class="cell">
          <img src="/css/images/python.png" alt="python logo">
          <span>Python</span>
        </div>

      </div>
    </section>
    <section class="main-course">
        <h1>Estatísticas</h1>
        <div class="course-box">
          
          <div class="course">
            <div class="box">
              <h3 class="text_esta">Número total de disciplinas:</h3>
              <h4 class="text_esta num">13</h4>
              
              <i class="fab fa-html5 html"></i>
            </div>
            <div class="box">
              <h3 class="text_esta">Número de projetos concluídos:</h3>
              <h4 class="text_esta num">10+...</h4>
              
              <i class="fab fa-css3-alt css"></i>
            </div>
            <div class="box">
              <h3 class="text_esta">Obter mais informações:</h3>
              <h4 class="text_esta num"><a href="https://www.linkedin.com/in/henry-tito-989b4b354" class="text_esta num link">Confira mais no meu LinkedIn!</a></h4>
              
              <i class="fab fa-css3-alt css"></i>
            </div>
          </div>
        </div>
      </section>
</body>
</html>