<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/sobre.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/hero.css">
</head>
<body>
    <%- include('partial/navbar') %>
    <div class="envelope">
    <section class="hero-section">
      <div class="text">
        <h2>Sobre <span class="forte"> Mim</span></h2>
        <h3 >Olá! Me chamo Henry Vilela Silva Tito, tenho 18 anos e sou estudante
            de Desenvolvimento de Software Multiplataforma na FATEC, onde entrei em janeiro de 2025! Sempre
            gostei muito da área de tecnologia, e foi na programação que
            encontrei meu verdadeiro interesse. Gosto de transformar ideias em
            soluções práticas e criativas, explorando diferentes linguagens,
            ferramentas e tecnologias. Sou uma pessoa curiosa e determinada,
            sempre buscando aprender mais, melhorar minhas habilidades e
            enfrentar novos desafios. Fora do universo tech, gosto de jogar
            bola, aproveitar o tempo com amigos e me manter ativo. Me considero
            prestativo, comunicativo e proativo, sempre disposto a colaborar,
            aprender e colaborar</h3>

       
      </div>

     
    </section>
    </div>
</body>
</html>
