<header class="navbar">
    <ul class="lista">
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/projetos">Projetos</a></li>
        <a href="/skills" class="button-nav">Dashboard</a>
        <li><a href="/disciplinas">Disciplinas</a></li>
        <li><a href="/contato">Contato</a></li>
        
      </ul>  
    </header>